@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-tech-black antialiased;
}

@layer components {
  .btn-primary {
    @apply bg-tech-green text-white px-4 py-2 rounded font-bold hover:bg-green-600 transition-colors;
  }
}